[*.cs]
# global_level = -100
# 
# # TODO: jsou vypnout i CS analyzatory
# # behem diagnostiky jde zjistit, jestli tje default error a jestli tj default zaple -> udelat mix, tak jde ziskat finalni config
# # jinak to proste nende
    dotnet_diagnostic.CS8618.severity = error
dotnet_diagnostic._MissingConfigureAwait.severity = error


# TODO: .globalconfig je default, prosre to tak bude a jebat
